

a{
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 2px 2px #774489, -2px -2px #a428d1;
    background-color: cadetblue;
    padding: 10px;
    color: white;
    text-decoration: none;
    float: left;
    margin: 20px;
}
a:hover{
    background-color: aqua;
    color: red;
    font-family: sans-serif;
    padding: 20px;

}