.x{
    font-family: Georgia, 'Times New Roman', Times;
    font-size: 48px;
    color: rgb(250, 0, 0);
    
}
.mhead{
   
    display: flex;
    gap: 60px;
    font-size: 22px;
    align-items: center;
    
      

}
.mhead a{
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

.mhead a:hover{
    padding: 12px;
    box-shadow: 2px 2px  red, -2px -2px red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
